.identity
{
    background-color: #2574A9;
}

.idLegend
{
    background-color: #2574A9;
}

.coord
{
    background-color: #9A12B3;
}

.coordLegend
{
    background-color: #9A12B3;
}

.pay
{
    background-color: #DB0A5B;
}

.payLegend
{
    background-color: #DB0A5B;
}

